{% extends "base.html" %}
{% load static %}

{% block title %}ログイン{% endblock %}
{% block content %}
<p>動作確認用アカウント</p>
<p>ユーザー名:nagoyameshi</p>
<p>パスワード:samuraiengineer</p>
<p>テストカード:4242424242424242</p>
 <h1 style="text-align:center">ログイン</h1>
 <div class="d-flex justify-content-center">
   <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
     <br>
    <input type="submit" class="btn btn-warning" value="ログイン">
   </form>
 </div>
 {% if not request.user.is_authenticated %}
 <a href="{% url 'password_reset' %}">パスワードをお忘れですか？</a>
{% endif %}

{% endblock %}